<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= book.lang_iso_639_2 %>">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= chapter.title %></title>
    <% if book.mobi? %>
      <link href="../Styles/style-mobi.css" media="amzn-mobi" rel="stylesheet" type="text/css" />
      <link href="../Styles/style-mobi-kf8.css" media="amzn-kf8" rel="stylesheet" type="text/css" />
    <% elsif book.epub? %>
      <link href="../Styles/style-epub.css" rel="stylesheet" type="text/css" />
    <% end %>
  </head>

  <body class="<%= chapter.class %>" id="content">
    <div id="<%= chapter.id %>" xml:lang="<%= chapter.lang %>">
      <%= content %>
    </div>
  </body>
</html>

